.@{prefix}-grids {
    position: relative;
    overflow: hidden;
    margin: -@grid-default-padding;
    padding: 0;
    &.col-2 {
        .@{prefix}-grid {
            width: 50%;
        }
    }

    &.col-3 {
        .@{prefix}-grid {
            width: 100/3%;
        }
    }

    &.col-4 {
        .@{prefix}-grid {
            width: 25%;
        }
    }

    .clearfix();


}

.@{prefix}-grid {
    position: relative;
    float: left;
    overflow: hidden;
    padding: @grid-default-padding;
    &__container {
        position: relative;
    }

    &__square {
        padding-top: 100%;
        position: relative;
    }

    &__box {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__flex {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__input {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        background: #f1f2f4;
        justify-content: center;
        align-items: center;
        img {
            margin-bottom: 15px;
        }
    }

    img {
        max-width: 100%;
    }
}
