.@{prefix}-guide {
    position: fixed;
    z-index: @dialog-default-index + 100;
    transition: opacity .3s;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    height: 100vh;
    &__share {
        width: 100%;
        padding: 22px 48px 0 0;
        text-align: right;
        &__box {
            display: inline-block;
            background: url("../assets/images/share.png") no-repeat center;
            width: 547px/2;
            height: 536px/2;
            background-size: 100% 100%;
        }
    }
    &__active {
        opacity: 1;
    }
}
